@model QLCL.Models.DiemCachLyModels

@{
    ViewData["Title"] = "Liệt kê điểm cách ly";
}

<div class="container">
    <form action="/DiemCachLy/ListCNByTenDCL" method="post">
        <div class="form-group">
            <label asp-for="MaDiemCL" class="control-label"></label>
            <select asp-for="MaDiemCL" class="form-control" asp-items="ViewBag.MaDiemCL"></select>
        </div>
        <button type="submit" class="btn btn-primary">Liệt kê</button>
    </form>
</div>
